absl-py
antlr4-python3-runtime
anyio
anykeystore
argon2-cffi
argon2-cffi-bindings
astroid
asttokens
attrs
Babel
backcall
beautifulsoup4
black
bleach
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptacular
cycler
debugpy
decorator
defusedxml
git+https://github.com/facebookresearch/detectron2.git@main#egg=detectron2
# detectron2
dill
entrypoints
executing
fairscale
fastjsonschema
filelock
fonttools
future
fvcore
google-auth
google-auth-oauthlib
greenlet
grpcio
huggingface-hub
hupper
hydra-core
idna
importlab
importlib-metadata
importlib-resources
iopath
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle
kiwisolver
lazy-object-proxy
libcst
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook
notebook-shim
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
pandocfilters
parso
PasteDeploy
pathspec
pbkdf2
pexpect
pickleshare
Pillow
pkgutil-resolve-name
plaster
plaster-pastedeploy
platformdirs
portalocker
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycocotools
pycparser
pydot
Pygments
pylint
pyparsing
pyramid
pyramid-mailer
pyrsistent
python-dateutil
python-slugify
python3-openid
pytype
pytz
PyYAML
pyzmq
qtconsole
QtPy
repoze.sendmail
requests
requests-oauthlib
rsa
scipy
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminado
text-unidecode
timm
tinycss2
toml
tomli
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transaction
translationstring
typing-extensions
typing-inspect
urllib3
velruse
venusian
wcwidth
webencodings
WebOb
websocket-client
Werkzeug
widgetsnbextension
wrapt
WTForms
wtforms-recaptcha
yacs
zipp
zope.deprecation
zope.interface
zope.sqlalchemy
